:root{
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);

    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
}

*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Red Hat Display', sans-serif;
    background-color: var(--Pale-blue);
    background-image: url(images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.top-container{
    max-width: 25rem;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    margin: 1.5rem;
    text-align: center;
}

.top-image-container{
    overflow: hidden;
    width: 100%;
}

.top-image-container img{
    width: 100%;
}

.bottom-content{
    padding: 2rem;
}

.bottom-content > :not(:first-child){
    margin-top: 1em;
}

h1{
    font-size: 1.5rem;
    color: var(--Dark-blue);
    line-height: 1.1;
}

.bottom-content>p{
    margin: auto;
    font-size: 1rem;
}

.plan-container{
    display: flex;
    gap: 1rem;
    padding: 1.5rem;
    background-color: var(--Very-pale-blue);
    border-radius: 0.625rem;
}

p{
    font-size: 1rem;
    color: var(--Desaturated-blue);
}

.plan-container p:nth-child(1){
    color: var(--Dark-blue);
    font-weight: 600;
}

.plan-container button{
    font-family: inherit;
    background: none;
    border: none;
    color: var(--Bright-blue);
    text-decoration: underline;
    margin-left: auto;
}

.plan-container button:hover,
.plan-container button:focus{
    color: hsl(245, 68%, 61%);
    text-decoration: none;
    cursor: pointer;
}

.music-icon{
    height: 100%;
}

.music-icon img{
    height: 2.5rem;
}

.pay-btn{
    background-color: var(--Bright-blue);
    color: white;
    border: none;
    padding: 0.9375rem 0;
    width: 100%;
    font-family: inherit;
    display: block;
    border-radius: 0.625rem;
    transition: background-color 0.2s ease ;
}

.pay-btn:hover,
.pay-btn:focus{
    background-color: hsl(245, 68%, 61%);
    cursor: pointer;
}

.cancel-btn{
    display: block;
    margin: 0 auto;
    background: none;
    border: none;
    font-family: inherit;
    color: var(--Desaturated-blue);
    font-weight: bold;
    transition: color 0.2s ease ;
}

.cancel-btn:hover{
    color: var(--Dark-blue);
    cursor: pointer;
}

@media (min-width: 375px){
    body{
        background-image: url(images/pattern-background-desktop.svg);
    }
}